<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>This is home page</h1>
    <h2><%= 2*3 %></h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur atque
      deleniti maiores in praesentium neque pariatur eos eum itaque molestiae
      ad, maxime illum amet, sequi ducimus reiciendis error non explicabo.
    </p>
    <button>Click me!</button>
    <%- include('includes/tail.ejs') %>
  </body>
</html>
